<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2Nz6Aq0RcLce8WsO2OEVEf1q8vleRSdA</string>
	<key>GCM_SENDER_ID</key>
	<string>92989169508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.nguyenhoangvannha.apps.nguyenhoangvannha</string>
	<key>PROJECT_ID</key>
	<string>nhvnha</string>
	<key>STORAGE_BUCKET</key>
	<string>nhvnha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92989169508:ios:f3e23adf074685d762e471</string>
</dict>
</plist>